<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>[[${author.name}]]</title>
    <link data-th-href="@{/webjars/bulma/0.6.0/css/bulma.css}" rel="stylesheet">
    <link rel="stylesheet" data-th-href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}"/>
</head>
<body>
<section class="hero is-primary is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                [[${author.name}]]
            </h1>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="content">
            <table>
                <thead>
                <tr>
                    <th>Post ID</th>
                    <th>Post header</th>
                    <th>Post author</th>
                    <th>Links</th>
                </tr>
                </thead>
                <tbody>
                <tr data-th-each="post : ${posts}">
                    <td>[[${post.id}]]</td>
                    <td>[[${post.header}]]</td>
                    <td>[[${post.author.name}]]</td>
                    <td><a class="button is-link" data-th-href="@{|/posts/${post.id}|}">Show</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
</body>
</html>