<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>[[${post.header}]]</title>
    <link data-th-href="@{/webjars/bulma/0.6.0/css/bulma.css}" rel="stylesheet">
    <link rel="stylesheet" data-th-href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}"/>
</head>
<body>
<section class="hero is-primary is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                [[${post.header}]]
            </h1>
            <p>posted at [[${#temporals.format(post.time, 'dd.MM.yyyy HH:mm')}]] by
                <a class="is_link" data-th-href="@{|/authors/${post.author.id}|}"><b>[[${post.author.name}]]</b></a></p>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="content" th:utext="${post.content}"></div>
    </div>
</section>
</body>
</html>